*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

#header{
    /* margin-bottom: 10px; */
    text-align: center;
    background:linear-gradient(to right, rgb(40, 40, 197) ,rgb(11, 8, 80));
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#label-city{
    font-size: 25px;
    font-weight: bold;
}

#input-city{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 40px;
}

#current-weather{
    border: 1px black solid;
}

#current-weather-city{
    font-size: 25px;
    font-weight: bold;
}

#forecast-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

#five-days-forecast-weather{
    background-color: pink;
    display: flex;
    justify-content: space-between;
}

.forecast-weather{
    padding: 5px;
    background-color: rgb(19, 42, 52);
    color: white;
}

.forecast-weather-date{
    font-size: 15px;
    font-weight:bold;
}